.whole {
    height: 729.6px;
    width: 100%;
}
.whole1 {
    margin-top: 109px;
    margin-bottom: 109px;
    margin-left: 418.800px;
    margin-right: 418.800px;
    padding: 0px 2.4rem 2.4rem;
    background-color: #FFFFFF;
}
.whole2 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.map {
height: 70px;
width: 405px;
display: flex;
}
.txt400 {
    width: 108.49px;
    height: 100%;
    margin: 15px 0px;
    color: #4F4F4F;
    font-size: 30px;
}
.logo400 {
    height: 100%;
    width: 30px;
    margin-left: 3rem;
}