.top6 {
  max-width: 100%;
  width: 78%;
  margin: 0px 84.4px;
  padding: 50px 0px;
}
.top6_1 {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  transform: translatex(7rem);
  margin-bottom: 2rem;
}
.txt130 {
  width: 100%;
  height: 40px;
  margin: 0px 0px 20px;
  padding: 0px;
  color: #363636;
  font-size: 30px;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.top6_1a {
  width: 1100px;
  height: fit-content;
  padding: 20px 24px;
  margin-bottom: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(232, 232, 232);
  border-radius: 6px;
  position: relative;
  cursor: pointer;
}
.top6_1f {
  width: 100%;
  height: 66px;
  padding: 20px 24px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(232, 232, 232);
  border-radius: 6px;
  cursor: pointer;
}
.top6_1b {
  /* height: 100%; */
  width: 100%;
  display: flex;
}

.explore-links {
  display: block;
  text-align: justify;
  margin-top: 2rem;
  list-style: disc !important;
}

.explore-links li {
  display: inline;
  margin-right: 1.4rem;
  color: #777;
  list-style: disc !important;
}

.explore-links li:hover {
  color: #000;
}

.grid-explore-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 1.2rem;
  margin-top: 2rem;
  list-style: disc;
}

.grid-explore-links li {
  display: inline;
  margin-right: 1rem;
  color: #777;
  list-style: disc;
}

.grid-explore-links li:hover {
  color: #000;
}

.txt140 {
  width: 1030.26px;
  height: 26px;
  color: #1c1c1c;
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
  margin: 0px;
}
.logo100 {
  height: 20px;
  width: 20px;
}
.something {
  position: absolute;
  display: block;
  top: 95%;
  background-color: #ffffff;
  height: 145.2px;
  width: 100%;
  right: 0%;
  border-top: none;
  z-index: 2;
}
